@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --warning: 38 92% 50%;
  --warning-foreground: 48 96% 89%;
  --greenButton: 125, 6%, 57%;
  --greenButton-foreground: 0, 0%, 100%;
  --whiteButton: 0, 0%, 100%;
  --whiteButton-foreground: 0, 0%, 0%;
  --aiLogo: 232, 100%, 70%;
  --aiLogo-foreground: 0, 0%, 100%;
  --footer: 0, 0%, 100%;
  --footer-foreground: 224, 65%, 11%;
}

.dark {
  --warning: 48 96% 89%;
  --warning-foreground: 38 92% 50%;
}
